h2 {
    text-align: center;
    color: #333;
}

ul {
    width: 80%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #fff;
}

button {
    padding: 5px 10px;
}
